<div class="row">
	<div class="large-12 columns">
		<h1>Dem Users</h1>

		<p styl="float:right">
			<%= link_to "Add a user", new_user_path %>
		</p>

		<table class="table">
			<tbody>
				<% @users.each do |user|%>
					<tr>
						<td><%= link_to user.email, user %></td>
							<!-- <br> -->
							<!-- <a href="/users/<%=user.id %>"> <%= user.email %> </a> -->
						<td>
              <%= link_to "edit", edit_user_path(user) %>
            </td>
						<td> <%= link_to "delete", user, method: :delete, confirm: "Are you sure?" %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>


